* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.neumorphic {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 1.3rem;
    margin-bottom: 2rem;
}

.neumorphic--pressed {
    box-shadow: inset 6px 6px 10px 0 rgb(0 0 0 / 12%), inset -6px -6px 10px 0 rgb(235 235 235 / 62%);
}

.wrapper {
    max-width: 800px;
    margin: 80px auto 50px;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    min-height: 400px;
    overflow: hidden
}

.wrapper .wrap {
    width: 700px;
    position: absolute;
    left: 50px;
    transition: 0.6s
}

#q2,
#q3 {
    left: 850px
}

.h4 {
    margin: 0
}

label {
    display: block;
    margin-bottom: 15px;
    font-size: 1rem;
    cursor: pointer
}

.options {
    position: relative;
    padding-left: 30px
}

.options input {
    opacity: 0
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 3px;
    height: 20px;
    width: 20px;
    border: 2px solid #444;
    border-radius: 50%
}

.options input:checked ~ .checkmark:after {
    display: block
}

.options .checkmark:after {
    content: "";
    width: 9px;
    height: 9px;
    display: block;
    background: white;
    position: absolute;
    top: 51%;
    left: 51%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked ~ .checkmark {
    background: #ffb32c;
    border: 2px solid #ffb32c;
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

.btn.btn-primary {
    background-color: #ffb32c;
}

.btn {
    background-color: inherit;
    border: 1px solid #ffb32c;
    border-radius: 20px;
    padding: 0.6rem 1.3rem;
    margin-bottom: 1rem;
}

.btn:focus {
    box-shadow: none
}

.btn:hover {
    background-color: #383838;
    border: 1px solid #303030;
    color: #fff
}

.btn:active {
    background-color: #000;
    border: 1px solid #000;
    color: #fff
}

.fa-arrow-right,
.fa-arrow-left {
    transition: 0.2s ease-in all
}

.btn.btn-primary:hover .fa-arrow-right {
    transform: translate(8px)
}

.btn.btn-primary:hover .fa-arrow-left {
    transform: translate(-8px)
}

@media(max-width: 767px) {
    .wrapper {
        margin: 30px 10px;
        height: 420px;
        position: unset;
    }

    .wrapper .wrap {
        width: 280px;
        left: 15px;
    }

    .neumorphic {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        border-radius: 0px;
        padding: 0rem;
        margin-bottom: 0rem;
    }

    .neumorphic--pressed {
        box-shadow: inset 0 0 0 0 rgb(0 0 0 / 12%), inset 0 0 0 0 rgb(235 235 235 / 62%);
    }
}

#number {
    font-weight: bold;
    color: #acacac;
}

.qTitle {
    font-weight: bold;
}

.h4, h4 {
    font-size: 1rem;
}
